<div id="sample">
  <md-sidenav-container class="material-property-container">
    <md-sidenav #sidenav class="material-property-sidenav" align="end" (open)="openSidenav($event)">
      <md-toolbar color="primary" class="material-property-toolbar-header">
        <span>Material property</span>
        <span class="material-property-spacer"></span>
        <button md-icon-button (click)="sidenav.close(); resetModel()"><md-icon>clear</md-icon></button>
      </md-toolbar>
      <form [formGroup]="complexForm" #form="ngForm" (ngSubmit)="submitForm(form)" class="material-property-form">
        <div fxLayout="column">
          <div>
            <md-input-container class="material-property-full-width">
              <input md-input [(ngModel)]="model.id" placeholder="ID" name="id" [formControl]="complexForm.controls['id']">
              <md-hint *ngIf="complexForm.controls['id'].hasError('required') && complexForm.controls['id'].touched" [ngStyle]="{'color': 'red'}" align="end">You must supply a ID</md-hint>
            </md-input-container>
          </div>
          <div>
            <!--<fieldset>
              <legend>Name by Language:</legend>
              <md-input-container class="material-property-full-width">
                <img style="max-width: 40px; max-height: 40px;  border: 1px solid" md-prefix src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/800px-Flag_of_the_People%27s_Republic_of_China.svg.png"
                />
                <input md-input name="unit" [(ngModel)]="model.name">
              </md-input-container> 
              <md-input-container class="material-property-full-width">
                <img style="max-width: 40px; max-height: 40px;  border: 1px solid" md-prefix src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/800px-Flag_of_South_Korea.svg.png"
                />
                <input md-input name="unit" [(ngModel)]="model.name">
              </md-input-container>
              <md-input-container class="material-property-full-width">
                <img style="max-width: 40px; max-height: 40px;  border: 1px solid" md-prefix src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/800px-Flag_of_the_United_States.svg.png"
                />
                <input md-input name="unit" [(ngModel)]="model.name">
              </md-input-container>
              <md-input-container class="material-property-full-width">
                <img style="max-width: 40px; max-height: 40px;  border: 1px solid" md-prefix src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/800px-Flag_of_Japan.svg.png"
                />
                <input md-input name="unit" [(ngModel)]="model.name">
              </md-input-container>
            </fieldset>-->
          </div>
        </div>
        <!--<p>
          <md-input-container class="material-property-full-width">
            <textarea md-input md-autosize minRows="5" placeholder="Array value type" name="value" [(ngModel)]="model.value" [required]="true"></textarea>
          </md-input-container>
        </p>
        <p>
          <md-input-container class="material-property-full-width">
            <textarea formControlName="description" md-input md-autosize minRows="7" placeholder="Description" name="description" [(ngModel)]="model.description"
              [required]="true"></textarea>
              <md-hint *ngIf="showRequired(model.description)" align="end">You must supply a description</md-hint>
          </md-input-container>
        </p>-->
      </form>
      <md-toolbar #idToolbar class="material-property-toolbar-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>
        <button color="primary" md-raised-button class="material-property-button-create" (click)="create(sidenav, model, $event)">{{buttonName}}</button>
        <span class="material-property-spacer"></span>
        <button color="accent" md-raised-button class="material-property-button-cancel" (click)="sidenav.close(); resetModel()">Cancel</button>
      </md-toolbar>
    </md-sidenav>
    <div class="material-property-table-content">
      <div fxLayout="row" style="margin-top: 15px; margin-bottom: 15px">
        <button md-icon-button [color]="'primary'"><md-icon>search</md-icon></button>
        <input type='text' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' fxFlex/>
        <button md-icon-button [color]="'primary'" (click)="showNavCreate(sidenav, $event);"><md-icon>add</md-icon></button>
        <button md-icon-button [color]="'primary'"><md-icon>refresh</md-icon></button>
      </div>
      <ngx-datatable id="material-property-table" #materialProperty class="material striped" [rows]="rows" [columns]="columns"
        [columnMode]="'force'" [headerHeight]="56" [footerHeight]="50" [rowHeight]="48" [scrollbarV]="true" [selected]="selected"
        [selectionType]="'multiClick'" (activate)="onActivate($event)" (select)='onSelect(sidenav, $event);' [loadingIndicator]="isLoading">
        </ngx-datatable>
    </div>
  </md-sidenav-container>
</div>