#sample {
  .material-property-container {
    width: 100%;
    height: calc(100vh);
    md-sidenav {
      width: 45%;
    }
    .material-property-sidenav-content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    .material-property-toolbar-header {
      height: 64px;
    }
    .material-property-toolbar-footer {
      height: 64px;
      position: fixed;
      bottom: 0px;
    }
    .material-property-form {
      padding: 20px;
      left: 0px;
      right: 0px;
      top: 64px;
      bottom: 64px;
      position: fixed;
      overflow: auto;
    }
    .material-property-full-width {
      width: 100%;
    }
    .material-property-spacer {
      flex: 1 1 auto;
    }
    .material-property-table-content {
      padding: 10px;
    }
    #material-property-table {
      height: calc(100vh - 90px);
    }
    .material-property-button-create {
      margin-left: 5px
    }
    .material-property-button-cancel {
      margin-right: 20px;
    }
  }
   #btnEdit {
      position: absolute !important;
      margin: -0.5rem;
      right: 45px;
  }
  #btnDelete {
      position: absolute !important;
      margin: -0.5rem;
      right: 5px;
  }
}