<button (click)="showLinks = !showLinks">Toggle Navigation Links</button>

<md-nav-list *ngIf="showLinks">
  <a md-list-item [routerLink]="['sample-component']">SampleComponent</a>
</md-nav-list>

<main>
  <router-outlet role="main"></router-outlet>
</main>
